/* custom css */

.img-upload-preview {
    border: 2px dashed #ddd;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
}

.img-upload-logo {
    border: 2px dashed #ddd;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    float: right;
    position: relative;
    margin-bottom: 20px;
}